* {
    margin: 0;
    padding: 0;
}

.ordersinfo {
    width: 100%;
    margin-top: 3rem;
}

.yourDeatail p {
    font-weight: 600;
    font-size: 2rem;
}

.yourDeatail {
    display: flex;
    align-items: center;
}

.orderinformation {
    width: 100%;
    /* display: flex; */
    /* align-items: center; */

    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.orderinfoLeft {
    width: 59%;
    height: 20.18rem;
    border: 1px solid black;
    border-radius: 10px;
    /* margin: auto; */

}

#arroeleft{
    cursor: pointer;
}

.orders {
    width: 99%;
    height: 70%;
    /* gap: 5rem; */

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: auto;

    margin-top: 0.8rem;


}

.oreder1 {
    width: 97%;
    margin: auto;
    height: 8rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.order1info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}


.orderinfo1{
    cursor: pointer;
}

.fnameandItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fnameandItem :nth-child(1) {
    font-weight: 600;

}
.orderinfo4{cursor: pointer;}

.fnameandItem :nth-child(2) {
    color: rgba(131, 133, 138, 1);
    font-size: 0.8rem;
    /* font-weight: 600; */
}

.order1Price {
    color: rgba(2, 134, 67, 1);
    font-weight: 600;
}

.writenote {
    width: 100%;
    /* margin: auto; */
    /* margin-top: 0.5rem; */
    margin-left: 0.5rem;
    height: 23%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.writenote p {
    font-weight: 400;
    color: rgba(131, 133, 138, 1);
    font-size: 0.8rem;
}

.writenote input {
    width: 96%;
    height: 3rem;
    /* padding: 0; */
    /* margin: auto; */
}


.orderinforight {
    width: 39%;
    /* border: 1px solid black; */
    /* width: 60%; */
    height: 20.18rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.orderinfo1 {
    border: 1px solid black;
    border-radius: 100px;
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addressWithImg {
    height: 100%;
    display: flex;
    align-items: center;


}

.addressWithImg img {
    height: 100%;
}

.addressArrow {
    margin-right: 1rem;
}

.DeliveryAdd {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.DeliveryAdd :nth-child(1) {
    font-weight: 500;
    font-size: 1.2rem;

}

.DeliveryAdd :nth-child(2) {
    font-weight: 400;
    /* font-size: 1.1rem; */

    color: rgba(131, 133, 138, 1)
}

.orderinfo2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    /* border-radius: 100px; */
    width: 100%;
    /* height: 22%; */
    height: 25%;
    color: rgba(131, 133, 138, 1);
    display: flex
;
    flex-direction: column;
    justify-content: space-around;


}

.orderinfoItems {

    display: flex;
    align-items: center;
    justify-content: space-between;

   
}

.orderinfoTax{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.orderinfoItems :nth-child(2){

    
    font-weight: 600;
}

.orderinfoTax :nth-child(2){
    font-weight: 600;
}


.orderinfo3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderinfo3 :nth-child(1) {
    font-weight: 400;
    font-size: 1.3rem;
   color: rgba(131, 133, 138, 1)
   

}

.orderinfo3 :nth-child(2) {
    font-weight: 700;
    font-size: 1.3rem;
}

.orderinfo4{
    width: 100%;
    height: 20%;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(252, 138, 6, 1);
    /* text-align: center; */
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width : 768px) {
    .Deliveryhead{
        display: none;
    }

}

@media screen and (max-width : 768px) {

    .orderinformation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }


    .orderinfoLeft{

        width: 90%;
        /* margin: auto; */
        height: 26.18rem;
        border: 1px solid black;
        border-radius: 10px;
       

    }

    .orderinforight{

        width: 90%;
        height: 26.18rem;

        /* border: 1px solid black; */
        /* width: 60%; */
        /* height: 20.18rem; */
        /* border: 1px solid black; */
        border-radius: 10px;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }


    .writenote {
        width: 100%;
        margin: auto;
        /* margin-top: 0.5rem; */
        /* margin-left: 0.5rem; */
        height: 23%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


    .writenote input {

        width: 90%;
        height: 3rem;
        /* padding: 0; */
        margin: auto;

    }

    .writenote p {
        font-weight: 400;
        color: rgba(131, 133, 138, 1);
        font-size: 0.8rem;
        margin-left: 1rem;
    }

    .Deliveryhead{
        font-size: 1.8rem;
        font-weight: 500;
    }

    .yourDeatail{
        display: none;
    }




   


    
}