* {
    margin: 0;
    padding: 0;
}

.line {
    font-weight: 700;
    font-size: 2rem;
}

.ord {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.op {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

#piz {
    color: rgba(252, 138, 6, 1);
    border: 1px solid rgba(252, 138, 6, 1);
    border-radius: 100px;
    height: 4rem;
    width: 15rem;
    font-weight: 600;
}

.opbtn {
    border: none;
    background-color: white;
    font-weight: 500;
}




@media only screen and (max-width: 1280px) {


.line{
    font-size: 1.5rem;
}


}